
    data types:
        - int 
        - string 
        - float
        - bool

    loops
        - for 
        - while

    data strcutres:
        - list
        - dictionary
        - set
        - tuple

    funtions
    control strcutres:
        - if 
        - if else
        - if elif else
    scopes:
        - local
        - nonlocal
        - global

In [52]:
# string methods:

email = "nk@gmail.com"

In [17]:
if "mail" in a :
    print("valid email")
else:
    print("invalid")

invalid

In [61]:
s = "  where are you?    "

s = s.strip()
s.split("?")

['where are you', '']

In [62]:
s.title()

'Where Are You?'

In [59]:
userinput= "0100:"
userinput.strip("0")

'100:'

In [58]:
email.startswith("nk")
email.endswith(".com")

True

In [163]:
a = [9, 'ch', True, 22.2]
a.append('r')
a
# last_item = a.pop(1)
a.remove('ch')
b = a.copy()

In [178]:
l = [1, 21, 13, 88]
reversed_list = reversed(l)

# reversed -> function
# reverse -> method 
sorted(l)

[1, 13, 21, 88]

In [177]:
l

[1, 13, 21, 88]

In [170]:
l

[88, 13, 21, 1]

In [74]:
if b:
    print(len(b))
else:
    print("lsit is empty")

lsit is empty

In [84]:
sett = {1, 2, 3, 2}
len(sett)

l = [1, 2, 3, 2]
l.append(4)
t = (1, 2, 3, 2)

(1, 2, 3, 2)

In [127]:
a = [9,5, 0, 2, 2, 7, 6, 0, 9, 5]
print(a)
print(list(reversed(sorted(a))))
print(set(a))

[9, 5, 0, 2, 2, 7, 6, 0, 9, 5]
[9, 9, 7, 6, 5, 5, 2, 2, 0, 0]
{0, 2, 5, 6, 7, 9}

In [85]:
print(l)

[1, 2, 3, 2, 4]

    
    python:
        dynamically typed language
        doesn't have to mention the type of the data we are storing in a variable

    iterable: iterable is any object that can looped upon
    list:
        - used to store multiple values
        - can be of different data types
        - mutable (once created, can be altered)
        - duplicates are allowed
        - created using [] or list function
        ex:
            a = [1, 2, 1]

        methods:
            append -> adds item to the end of the list
            insert -> adds to the given index and moves all other items to the right
            pop -> by default pops the last item, if index is provided, pops item from given index
            remove -> accepts value of the item to be removed form the list
            
    
    tuple:
        - used to store multiple values
        - can be of different data types
        - immutable (once created, can not be altered)
        - duplicates are allowed
        - created using () or tuple function
        ex: 
            t = (1, 2, 1)
    set: 
        - used to store multiple values
        - can be a different data types
        - mutable
        - duplicates are not allowed
        - creted using {} or set function
        ex: 
            s = {1, 2, 1} # but stores as {1, 2}

    dictionary:
        - used to store key, value pairs
        - key, value pairs are separated by comma (,)
        - keys should be unique
        - mutable
        - created using {} or dict function
        - dict.keys() -> returns all the keys
        - dict.vlaues() -> returns all the vlaues

In [94]:
# dictionaries

d = {"name": "nandu", "age": 25}

In [104]:
list(d.keys())

['name', 'age']

In [107]:
list(d.values())

['nandu', 25]

In [129]:
'name' in d

True

In [95]:
d['age']

25

In [184]:
for i in range(0, 10, 5):
    print(i)

0
5

In [189]:
for ch in "happy birthday":
    print(ch)

h
a
p
p
y

b
i
r
t
h
d
a
y

In [198]:
d = {"name": "nandu", "age": 24}
for value in d.values():
    print(value)

nandu
24

In [204]:
i = 0

while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
i += 1 #-> i++
i -= 1 #-> i--